@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");
html {
  height: 100vh;
}

body {
  position: relative;
  margin: 0;
  padding: 0 5px;
  min-height: 100%;
  overflow-y: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > header, #root > footer {
  flex: 0 0 auto;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

#root > main {
  flex: 1 1 auto;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

footer {
  text-align: center;
}

hr {
  width: 98vw;
  height: 1px;
  background-color: #444;
}
