.shift-log
    max-height: 100vh
    display: flex
    flex-direction: column
    
    #shift-header
        flex: 0 0 auto
        display: flex
        justify-content: space-between
        margin-bottom: 5px

        h2
            margin: 0

        #controls
            display: flex
            gap: 5px
            
        #start-shift-button
            background-color: #bada55
            
        #end-shift-button
            background-color: #da5555
            
        #add-shift-button
            background-color: #55b4da

        button
            padding: 3px 10px
            font-family: system-ui

        #shift-filters
            display: block
            background-color: #fff
            border: 1px solid black
            border-radius: 3px
            margin: 0 5px
            position: absolute
            right: 0
            padding: 5px
    
    #shift-table
        flex: 1 1 auto
        width: 100%
        overflow: auto
        box-sizing: border-box
        border: 1px solid black

        *
            font-family: monospace

        & > table
            border-collapse: collapse
            width: 100%

            table, td, th
                padding: 3px 10px
                border: 1px solid black
            
            td
                text-align: center
                vertical-align: top
                white-space: pre-wrap
        
        em
            display: block
            text-align: center
            margin: 30px 5px

        .log-notes-cell
            text-align: start
        
        thead *
            background-color: #666
            color: #fff
        
        tbody *
            background-color: #fff
        
        tfoot *
            background-color: #b1b1b1
            white-space: pre-wrap