.shift-log > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.shift-log > div h2 {
  margin: 0;
}

.shift-log > div #controls {
  display: flex;
  gap: 25px;
}

.shift-log > div #start-shift-button {
  background-color: #bada55;
}

.shift-log > div #end-shift-button {
  background-color: #da5555;
}

.shift-log > div #add-shift-button {
  background-color: #559eda;
}

.shift-log > div button {
  padding: 3px 10px;
}

.shift-log > div #shift-filters {
  display: block;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0 5px;
  position: absolute;
  right: 0;
  padding: 5px;
}

.shift-log #shift-table {
  width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
}

.shift-log #shift-table > table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
}

.shift-log #shift-table > table table, .shift-log #shift-table > table td, .shift-log #shift-table > table th {
  padding: 3px 10px;
  border: 1px solid black;
  text-align: center;
  vertical-align: top;
}

.shift-log #shift-table > table th {
  background-color: #666;
  color: #fff;
}

.shift-log #shift-table em {
  display: block;
  text-align: center;
  margin: 30px 5px;
}
