.shift-log {
  flex: 1 1 auto;
  height: 100%;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.shift-log #shift-header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.shift-log #shift-header h2 {
  margin: 0;
}

.shift-log #shift-header #controls {
  display: flex;
  gap: 5px;
}

.shift-log #shift-header #start-shift-button {
  background-color: #bada55;
}

.shift-log #shift-header #end-shift-button {
  background-color: #da5555;
}

.shift-log #shift-header #add-shift-button {
  background-color: #55b4da;
}

.shift-log #shift-header button {
  padding: 3px 10px;
  font-family: system-ui;
}

.shift-log #shift-header #shift-filters {
  display: block;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0 5px;
  position: absolute;
  right: 0;
  padding: 5px;
}

.shift-log #shift-table {
  flex: 1 1 auto;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid black;
}

.shift-log #shift-table * {
  font-family: monospace;
}

.shift-log #shift-table > table {
  border-collapse: collapse;
  width: 100%;
}

.shift-log #shift-table > table table, .shift-log #shift-table > table td, .shift-log #shift-table > table th {
  padding: 3px 10px;
  border: 1px solid black;
}

.shift-log #shift-table > table td {
  text-align: center;
  vertical-align: top;
  white-space: pre;
}

.shift-log #shift-table em {
  display: block;
  text-align: center;
  margin: 30px 5px;
}

.shift-log #shift-table .log-notes-cell {
  text-align: start;
  white-space: pre-wrap;
}

.shift-log #shift-table thead * {
  background-color: #666;
  color: #fff;
}

.shift-log #shift-table tbody * {
  background-color: #fff;
}

.shift-log #shift-table tfoot * {
  background-color: #b1b1b1;
  white-space: pre;
}
