.shift-log
    border-collapse: collapse
    width: 100%

    table, td, th
        padding: 3px 10px
        border: 1px solid black
        text-align: center
    
    th
        background-color: #666
        color: #fff